{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>To-Do App</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="app-container">
      <h1>My To-Do List</h1>

      <form class="input-group" method="POST" action="#" onsubmit="return false">
        {% csrf_token %}
        <input type="text" placeholder="Add a new task..." name="title" id="title"/>
        <button type="submit" onclick="submitForm(event)">Add</button><div class="spinner hide" id="submitSpinner"></div>
      </form>

      <ul class="task-list", id="parentlist">
        {% for todo in todos %}
        <li id="task{{ todo.id }}">
          {% if todo.completed %}
          <label class="task disabled">
            <input type="checkbox" checked />
            <span class="checkmark"></span>
            <span class="task-text">{{ todo.title}}</span>
          </label>
          
          {% else %}
            <label class="task">
              <input type="checkbox" onchange="checkTodo('{{ todo.id }}')" />
              <span class="checkmark"></span>
              <span class="task-text">{{ todo.title}}</span>
            </label>
          {% endif %}
          <div class="spinner2 hide" id="itemSpinner{{todo.id}}"></div>
          <span class="close" onclick="deleteTodo(event,'{{ todo.id }}')">X</span>
        </li>
        {% endfor %}
        <!-- <li>
        <label class="task">
          <input type="checkbox" checked />
          <span class="checkmark"></span>
          <span class="task-text">Call the dentist</span>
        </label>
      </li>
      <li>
        <label class="task">
          <input type="checkbox" />
          <span class="checkmark"></span>
          <span class="task-text">Read a book</span>
        </label>
      </li> -->
      </ul>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
